body{
  background: #f3f3f5
}

h1, h2{
  text-align: center;
  font-size: 1.75em;
  margin: 1vh 0;
  font-weight: bold;
}

.ts{
  margin-top: 5vh;
}

.border{
  margin: auto;
  width: 75%;
  height: 2px;
  background-color: black;
}

.collapsible {
  background-color: #f3f3f5;
  color: #2f393f;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 5vw;
  border: none;
  width: 90%;
  text-align: left;
  outline: none;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: solid 1px;
}


.collapsible:after {
  content: '\002B'; /* unicode symbol for "plus" tegn (+) */
  color: #2f393f;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* unicode symbol for "minus" tegn (-) */
}

.content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}


.sec2{
  margin-top: 1.5vh;
}


/* FAQ css */
.faqat {
  margin: 1.5vh 5vw 0 5vw;
}

.container {
width: 90%;
height: 20%;
border: solid 2px;
margin: 2vh 5vw 0 5vw;
}

.container li {
  list-style: none;
  font-size: 14pt;
  font-weight: normal;

}

.lits {
  margin: 1.5vh 0;
}


/* Kontakt form */

.wrapper-c{
    width: 90vw;
    margin: 1vh 5vw 0 5vw;
    box-sizing: border-box;
}

.content-c{
    text-align: center;
}

.content-c p {
  font-weight: normal;
  font-size: 14pt;
}

.form{
    width: 100%;

}

.inner-form{
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
    text-align: left;
    font-weight: normal;
    font-size: 18pt;
}

.form input[type="text"],
.form textarea{
    padding: 15px 5px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 2px;
    outline: none;
    transition: all .4s ease;
}

.form input:focus,
.form textarea:focus{
    border-color: #ed5822;
    box-shadow: inset 1px 1px 1px rgba(12, 12, 12, 0.2),
                            0 0 8px rgba(12, 12, 12, 0.4);
}

.form .label{
    margin-bottom: 5px;
}

.form-btn{
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 15pt;
    width: 100px;
    border: none;
    border-radius: 2px;
    background-color: #ed5822;
    color: #f3f3f5;
    padding: 10px;
    margin: auto;
    margin-bottom: 3vh;
    text-decoration: none;

  }

.form-btn:hover{
    opacity: .8;
    background-color: rgba(237, 88, 34, 0.8);
    color: #f3f3f5;
}

textarea{
  height: 15vh;
}

@media screen and (min-width:1000px) {
  .wrapper-c{
        height: 50vh;
        margin-top: 1vh;
        width: 70%;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .top-form .inner-form{
        width: 30%;
        float: left;
        margin-right: 5%;
    }

    .top-form .inner-form:last-child{
        margin-right: 0;
    }

    .middle-form{
        clear: both;
    }

    .collapsible {
      background-color: #f3f3f5;
      color: #2f393f;
      cursor: pointer;
      margin-top: 20px;
      margin-left: 20vw;
      border: none;
      width: 60%;
      text-align: left;
      outline: none;
      font-size: 1.5em;
      font-weight: bold;
      border-bottom: solid 1px;
    }

    .container {
    width: 60%;
    height: 20%;
    border: solid 2px;
    margin: 2vh 20vw 0 20vw;
    }
}
