h1 {
  text-align: center;
  margin-top: 1vh;
}

.divider {
  height: 3px;
  background-color: #2f393f;
  margin-top: 1vh;
}

.container-slider {
  width: 80%;
  margin: 10px auto;
}

.carousel {
  border: 2px solid #ccc;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.slider {
  height: 100%;
  display: flex;
  width: 400%;
  transition: all 0.3s;
}

.slider section {
  flex-basis: 100%;
  display: flex;
}

.slider section .ptitel{
  margin: 2%;
  font-weight: bold;
  font-size: 1.375em;
}

.slider section .ptext{
  position: relative;
  top: 8%;
  margin-left: -17vw;
  font-size: 1.125em;
}


.controls .arrow {
  position: absolute;
  top: 75.2vh;
  transform: translateY(-50%);
  cursor: pointer;
}

.controls .arrow i {
font-size: 40px;
}

.arrow.right {
  right: 10vw;
}

.arrow.left {
  left: 10vw;
}

.controls ul {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%);
  list-style: none;
  display: flex;
}

.controls ul li {
  width: 20px;
  height: 20px;
  border: 3px solid #2f393f;
  border-radius: 5px;
  margin: 0 10px;
  background: #f3f3f5;
  cursor: pointer;
}

.controls ul li.selected {
  background: #ed5822   ;
}

@media screen and (min-width:801px) {
  .slider section .ptitel{
    margin: 2%;
    font-weight: bold;
    font-size: 1.5em;
  }

  .slider section .ptext{
    position: relative;
    top: 15%;
    margin-left: -15.5vw;
    font-size: 1.125em;
  }

  .arrow.right {
    right: 24vw;
  }

  .arrow.left {
    left: 24vw;
  }

  .controls ul {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
  }
}

@media screen and (min-width:1001px) {
  .slider section .ptitel{
    margin: 2%;
    font-weight: bold;
    font-size: 1.875em;
  }

  .slider section .ptext{
    position: relative;
    top: 15%;
    margin-left: -7vw;
    font-size: 1.125em;
  }

  .arrow.right {
    right: 26vw;
  }

  .arrow.left {
    left: 26vw;
  }

  .controls ul {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
  }
}
