body{
  background-color: #f3f3f5
}

section{
  margin-bottom: 3vh;
}

.section1{
  margin-top: 3vh;
}

h1{
  margin-top: 2vh;
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
  margin-top: 5vh;
}

.divider {
  height: 1px;
  width: 90vw;
  display: block;
  margin: auto;
  background-color: black;
  margin-top: 0.5vh;
  margin-bottom: 2vh;
}

.divider1 {
  height: 1px;
  width: 90vw;
  display: block;
  margin: auto;
  background-color: black;
  margin-top: 0.5vh;
  margin-bottom: 2vh;
  margin-left: 5vw;
  grid-column: 100%;
}

.sec1{
  margin-top: 1.5vh;
}

.sec1 .content{
  display: grid;
  width: 30%;
}

.container {
  margin-top: 1vh;
  padding: 32px;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 70%;
  opacity: 0;
  transition: all 0.4s;
  margin-left: 5vw;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-left: 5vw;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  width: 70%;

  order: 0;
}

.selected::after {
  content: "";
  background: url("billeder/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}


.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.dropbtn {
  margin-top: 4vh;
  margin-left: 24vw;
  margin-bottom: 0vw;
  background-color: #ed5822;
  color: #f3f3f5;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-left: 22vw;
  min-width: 10px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}


.sec1 .content .enhed{
  width: 20vw;
  height: 4vh;
  background-color: white;
  margin-top: 1.5vh;
  margin-left: 2vw;
  text-align: left;
  padding-top: .75vh;
  padding-left: 1vw;
  font-size: 1em;
  color: #2f393f;
  border: solid 1.5px #2f393f;
  border-right: none;
  grid-column: 1;
}

.sec1 .content .icon{
  width: 5vw;
  height: 4vh;
  background-color: white;
  margin-top: 1.5vh;
  margin-right: 5vw;
  text-align: center;
  padding-top: .75vh;
  color: #2f393f;
  border: solid 1.5px #2f393f;
  grid-column: 2;
}

.collapsible {
  background-color: #f3f3f5;
  color: #2f393f;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 5vw;
  border: none;
  width: 90%;
  text-align: left;
  outline: none;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: solid 1px;
}

.collapsible:after {
  content: '\002B';/* unicode symbol for "plus" tegn (+) */
  color: #2f393f;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";/* unicode symbol for "minus" tegn (-) */
}

.content {
  grid-template-columns: 50% 50%;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.collapsible1:after {
  content: '\002B';/* unicode symbol for "plus" tegn (+) */
  color: #2f393f;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.content1 {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.mnavn{

  font-size: 16pt;
  margin: 2vh 0 1vh 5vw;
}

.mnavn1{
  display: grid;
  grid-column: 1;
  border-radius: 3px;
  margin: 0 5vw;
  height: 5vh;
  border-style: solid;
  border-width: 1px;
}

.ptype{
  font-size: 16pt;
  margin: -5vh 5vw 1vh 0vw;
}

.ptype1{
  display: grid;
  grid-column: 2;
  border-radius: 3px;
  margin: -5vh 5vw 0 0;
  height: 5vh;
  border-style: solid;
  border-width: 1px;
}

.fyldning{
  display: grid;
  grid-column: 1;
  text-align: left;
  margin-top: 5vh;
  margin-left: 5vw;
  font-size: 16pt;
  font-weight: bold;
}

.findhold{
  grid-column: 1;
  font-size: 14pt;
  margin-left: 5vw;
  margin-top: 3vh;
}

.fkasse{
  display: grid;
  grid-column: 2;
  border-radius: 3px;
  margin: 2.25vh 5vw 0 0;
  height: 5vh;
  border-style: solid;
  border-width: 1px;
}

.pdim{
  text-align: left;
  margin-top: 5vh;
  margin-left: 5vw;
  font-size: 16pt;
  font-weight: bold;
}

.pindhold{
  grid-column: 1;
  font-size: 14pt;
  margin-left: 5vw;
  margin-top: 3vh;
}

.pkasse{
  display: grid;
  grid-column: 2;
  border-radius: 3px;
  margin: 2.25vh 5vw 0 0;
  height: 5vh;
  border-style: solid;
  border-width: 1px;
}

.check1{
  display: grid;
  grid-column: 1;
  text-align: left;
  margin-top: 5vh;
  margin-left: 5vw;
  font-size: 14pt;
}

.ibox1{
  display: grid;
  grid-column: 1;
  margin-left: 5vw;
}


.check2{
  display: grid;
  grid-column: 2;
  text-align: left;
  margin-top: 5vh;
  margin-left: 5vw;
  font-size: 14pt;
}

.ibox2{
  display: grid;
  grid-column: 2;
  margin-left: 5vw;
}

.smaxmar{
  text-align: left;
  margin-top: 5vh;
  margin-left: 5vw;
  font-size: 16pt;
  font-weight: bold;
}

.udregni{
  display: grid;
  grid-column: 1;
  text-align: left;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-bottom: 20vh;
  font-size: 14pt;
}

.content2 {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.pnavn{
  display: grid;
  font-size: 16pt;
  margin: 2.25vh 0 1vh 5vw;
}

.pnavn1{
  display: grid;
  border-radius: 3px;
  margin: 2vh 5vw;
  width: 40vw;
  height: 5vh;
  border-style: solid;
  border-width: 1px;
}

.pform{
  margin-top: 4vh;
  margin-left: 3vw;
  font-size: 16pt;
  font-weight: bold;
}

.pakker{
  display: grid;
  grid-column: 1;
  text-align: left;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-bottom: 1.4vh;
  font-size: 16pt;
}

.prindhold{
  display: grid;
  grid-column: 1;
  border-radius: 3px;
  margin: 0 5vw;
  height: 5vh;
  border-style: solid;
  border-width: 1px;
}

.dropbtn1 {
  display: grid;
  grid-column: 1;
  margin-left: 10vw;
  margin-bottom: 1vw;
  margin-top: 3.5vh;
  background-color: #ed5822;
  color: #f3f3f5;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-left: 2.2vw;
  min-width: 10px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}

.pakkeh{
  font-size: 16pt;
  margin: -5vh 5vw 1vh 0vw;
}



.phindhold{
  display: grid;
  grid-column: 2;
  border-radius: 3px;
  margin: -5vh 5vw 0 0;
  height: 5vh;
  border-style: solid;
  border-width: 1px;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }

  .popup.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .popup-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .popup-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }

  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  .form-btn{
      display: block;
      cursor: pointer;
      text-align: center;
      font-size: 15pt;
      width: 100px;
      border: none;
      border-radius: 2px;
      background-color: #ed5822;
      color: #f3f3f5;
      padding: 10px;
      margin: 3vh 0vw 3vh 5vw;
      text-decoration: none;

    }
