body {
  background: #f3f3f5
}

h1 {
  text-align: center;
  font-size: 1.75em;
  margin: 1vh 0;
  font-weight: bold;
}

.border {
  margin: auto;
  width: 75%;
  height: 2px;
  background-color: black;
}

.collapsible {
  background-color: #f3f3f5;
  color: #2f393f;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 5vw;
  border: none;
  width: 90%;
  text-align: left;
  outline: none;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: solid 1px;
}

.collapsible:after {
  content: '\002B';/* unicode symbol for "plus" tegn (+) */
  color: #2f393f;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";/* unicode symbol for "minus" tegn (-) */
}

.content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.content p {
  margin-top: 1.5vh;
}

.content .auto {
  display: block;
  background-color: #ed5822;
  padding: 1vh 4vw;
  border-radius: 13px;
  text-align: center;
  font-size: 1em;
  color: #f3f3f5;
  border-style: none;
  margin: 4vh auto 0 auto;
}

.content .manu {
  display: block;
  background-color: #ed5822;
  padding: 1vh 4vw;
  border-radius: 13px;
  text-align: center;
  font-size: 1em;
  color: #f3f3f5;
  border-style: none;
  margin:1vh auto;
}

.sec2 {
  margin-top: 1.5vh;
}

.sec2 .content {
  display: grid;
}

.sec2 .content .enhed {
  width: 75vw;
  height: 8vh;
  background-color: white;
  margin-top: 1.5vh;
  margin-left: 5vw;
  text-align: left;
  padding-top: 2.50vh;
  padding-left: 2vw;
  font-size: 1.125em;
  color: #2f393f;
  border: solid 1.5px #2f393f;
  border-right: none;
  grid-column: 1;
}

.sec2 .content .icon {
  width: 15vw;
  height: 8vh;
  background-color: white;
  margin-top: 1.5vh;
  margin-right: 5vw;
  text-align: center;
  padding-top: 2vh;
  color: #2f393f;
  border: solid 1.5px #2f393f;
  grid-column: 2;
}

@media screen and (min-width:768px){

  .content .auto {
    display: block;
    background-color: #ed5822;
    padding: 1vh 4vw;
    border-radius: 13px;
    text-align: center;
    font-size: 1em;
    color: #f3f3f5;
    border-style: none;
    margin: 4vh auto 0 auto;
  }

  .content .manu {
    display: block;
    background-color: #ed5822;
    padding: 1vh 4vw;
    border-radius: 13px;
    text-align: center;
    font-size: 1em;
    color: #f3f3f5;
    border-style: none;
    margin:1vh auto;
  }


  .sec2 .content .icon {
    width: 15vw;
    height: 8vh;
    background-color: white;
    margin-top: 1.5vh;
    margin-right: 5vw;
    text-align: center;
    padding-top: 2.5vh;
    color: #2f393f;
    border: solid 1.5px #2f393f;
    grid-column: 2;
  }
}
