h1{
  text-align: center;
  font-size: 1.75em;
  margin: 1vh 0;
  font-weight: bold;
}
.border{
  margin: auto;
  width: 100%;
  height: 3px;
  background-color: black;
}

.collapsible {
  background-color: #f3f3f5;
  color: #2f393f;
  cursor: pointer;
  padding: 18px;
  margin-top: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.5em;
  font-weight: bold;
  border-top: solid 3px;
  border-bottom: solid 3px;
}


.collapsible:after {
  content: '\002B'; /* unicode symbol for "plus" tegn (+) */
  color: #2f393f;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* unicode symbol for "minus" tegn (-) */
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
