* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  background-color: #f3f3f5;
}

.logo {
  display: flex;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 90vw;
}

.grid-container a {
   color: #2f393f;
   font-weight: 300;
   letter-spacing: 2px;
   background: #f3f3f5;
   padding: 20px 5px;
   width: 100%;
   text-align: center;
}

.grid-container a:hover {
   background: rgba(69, 77, 91, 0.2);
}

.item1 { grid-area: farver; }
.item2 { grid-area: knapper; }
.item3 { grid-area: skrifttyper; }

.grid-container {
  display: grid;
  grid-template-areas:
    'farver farver knapper knapper skrifttyper skrifttyper'
    'farver farver knapper knapper skrifttyper skrifttyper'
    'farver farver knapper knapper skrifttyper skrifttyper';
  background-color: #f3f3f5;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  border-color: #2f393f;
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.item2 {
  border-color: #2f393f;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.item3 {
  border-color: #2f393f;
  border-top: 2px solid;
  border-left: 2px solid;
  border-bottom: 2px solid;
}

.overskrift-f {
  margin-top: 1vh;
  font-size: 4em;
  text-align: center;
}

.border {
  margin: 1vh auto;
  border: solid 3px;
  width: 80%;
}

.indhold-f {
  margin: 5vh 10vw;
  font-size: 1.5em;
}

/* Dette er området til farver */
.colorbox {
  margin-top: 10vh;
}

.colorbox .box1 {
  background-color: #f3f3f5;
  width: 25%;
  height: 10vh;
  margin-left: 10%;
  border: 2px solid black;
}

.colorbox .box1 P {
  text-align: center;
  padding: 3.5vh;
  font-size: 1.5em;
  font-weight: bold;
}

.colorbox .box2 {
  background-color: #454d5b;
  width: 25%;
  height: 10vh;
  margin-left: 2.5%;
  border: 2px solid black;
  margin: -10vh 37.5%;
}

.colorbox .box2 P {
  color: #f3f3f5;
  text-align: center;
  padding: 3.5vh;
  font-size: 1.5em;
  font-weight: bold;
}

.colorbox .box3 {
  background-color: #2f393f;
  width: 25%;
  height: 10vh;
  margin-left: 2.5%;
  border: 2px solid black;
  margin: -10vh 65%;
}

.colorbox .box3 P {
  color: #f3f3f5;
  text-align: center;
  padding: 3.5vh;
  font-size: 1.5em;
  font-weight: bold;
}

.colorbox .box4 {
  background-color: #ed5822;
  width: 25%;
  height: 10vh;
  margin-left: 24%;
  border: 2px solid black;
  margin-top: 15vh;
}

.colorbox .box4 P {
  color: #f3f3f5;
  text-align: center;
  padding: 3.5vh;
  font-size: 1.5em;
  font-weight: bold;
}

.colorbox .box5 {
  background-color: #071224;
  width: 25%;
  height: 10vh;
  margin-left: 51.5%;
  border: 2px solid black;
  margin-top: -10vh;
}

.colorbox .box5 P {
  color: #f3f3f5;
  text-align: center;
  padding: 3.5vh;
  font-size: 1.5em;
  font-weight: bold;
}
